
.clear
{
	clear: both;
}

html, body
{
	width            : 100%;
	height           : 100%;
	overflow         : hidden;
	background-color : #1e1e1e;
	margin           : 0;
	font-family      : "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

#browsearea
{
	width   : 100%;
	height  : 100%;
	display : inline-flex;
}

#urlbar
{
	width: 100%;
}